@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION */
.header {
    background-color: #1F2937;
    padding-top: 16px;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* NAV BAR */
.nav-bar {
    display: flex;
    justify-content: space-between;
}

/* LOGO */
.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8
}

/* LINKS */
.links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

/* The actual links */
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* Sign-up Button */
.sign-up button {
    background-color: #3882F6;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    border: 0px;
}

.placeholder-container {
    width: 500px;
    height: 200px;
    flex: 0 0 auto;

    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center the text of placeholder */
.placeholder {
    color: #E5E7EB;
}